/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-bottom: 670px;
    /* flex-wrap: wrap; */
}

.logo {
    padding: 7px;
    color: red;
    font-size: 26px;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 8px;
    list-style: none;
}

nav ul li {
    cursor: pointer;
}

nav a{
    color: #fff;
    list-style: none;
    text-decoration: none;
}

/* HERO SECTION */
.top-section {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
    url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/92fdd474219763.60db29a155659.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    display: flex;
    align-items: flex-end;
}

.top-section .content {
    padding: 40px 40px;
    max-width: 500px;
}

/* .content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    color: #ccc;
    margin-bottom: 10px;
}

.small-text {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 15px;
} */

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
}

.play {
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.info {
    background: rgba(255,255,255,0.3);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* MOVIE SECTION */
.movie-section {
    padding: 20px;
}

.movie-section h2 {
    margin-bottom: 10px;
}

/* MOVIE ROW (Netflix) */
.movie-row {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.movie-row::-webkit-scrollbar {
    display: none;
}

/* MOVIE CARDS */
.movie-row img {
    width: 150px;
    border-radius: 5px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.movie-row img:hover {
    transform: scale(1.1);
}

/* RESPONSIVENESS */

/* Tablet */
@media (max-width: 420px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        /* flex-wrap: wrap; */
        justify-content: center;
    }

    /* .content h1 {
        font-size: 28px; */
    /* } */

    .movie-row img {
        width: 130px;
    }
}

/* Mobile */
@media (max-width: 390px) {
    .content h1 {
        font-size: 22px;
    }

    .movie-row img {
        width: 110px;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
    }

    .play, .info {
        width: 100%;
        text-align: center;
    }
}