*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    flex-wrap: wrap;
}

.logo{
    color: red;
    font-size: 24px;
    font-weight: bold;
}

nav ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li{
    cursor: pointer;
}

.my-netflix{
 
    padding: 6px 12px;
    border-radius: 20px;
}


/* HERO SECTION */
.top-section{
    background: linear-gradient(0, 0, 0, 0.8), rgba(0,0,0,0.8);
    background: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/92fdd474219763.60db29a155659.jpg');
    overflow: hidden;
    background-size: cover;
     background-position: center;
     flex-direction: column;
     justify-content: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    
}

.content{
    max-width: 600px;
}



@media (max-width: 768px) {
    .navbar {
    flex-direction: column;
    align-items: center;
    }

nav ul{
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
 }
}
.content{
    margin-left: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;

}

.content .play{
    width: 120px;
    padding: 15px;
    border-radius: 10px;
    background: white;
    color: #000;
}

.info{
    width: 120px;
    padding: 15px;
    border-radius: 5px;
}

button:hover{
    opacity: 0.8;
}
 section h2{
    margin-top: 0px;
    margin-bottom: 5px;
 }



.top-section .content{
    padding-left: 15px;
    margin-top: 390px;
}


.content h1{
    font-size: 40px;
    margin: 10px 0;
}

.small-text{
    font-size: 14px;
    color: #b37171;
}
.subtitle{
    color: #bd7a7a;
}

/* MOVIE ROW */
.movie-section{
    scroll-snap-type: start;
    padding: 10px 25px;

    
}
@media (max-width: 768px) {
    .movie-row {
width: 150px;
max-height: 100px;
    }
}
@media (max-width: 480px) {
    .movie-row {
grid-template-columns: repeat(3, 1fr);
    }
}

.movie-row{
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(5,);
    display: flex;
    gap: 15px;
    overflow-x: auto;
    /* padding: 5px; */
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

  
}

.movie-row img{
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
   
}

.movie-row img:hover{
    transform: scale(1.1);
}